<div class="row my-3">
    <div class="col">
        <h4>Listado de productos</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <form class="row g-3">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Email</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Search">
            </div>
            <div class="col-auto">
                <label for="titleFilter" class="visually-hidden">Password</label>
                <input type="text" class="form-control" id="titleFilter" name="titleFilter"
                    placeholder="Filter by title" [(ngModel)]="titleFilter">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary mb-3" (click)="filterResults()">Search</button>
            </div>
        </form>
    </div>
    <div class="col-4">
        <div class="row g-2 align-items-center">
            <div class="col-auto">
                <label for="limit" class="col-form-label">Limit</label>
            </div>
            <div class="col-auto">
                <input type="number" id="limit" name="limit" class="form-control" [(ngModel)]="limit"
                    (change)="filterResults()" min="0">
            </div>
        </div>
    </div>
    <div class="col-2">
        <select class="form-select" id="order" name="order" [(ngModel)]="order" (change)="filterResults()">
            <option value="asc" selected>ASC</option>
            <option value="desc">DESC</option>
        </select>
    </div>
</div>
<div class="row d-flex justify-content-center mt-5">
    <div class="col-10">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>